lab4/versao_quase_final.json
[{"id":"5e74f906e9a11b5f","type":"serial in","z":"81510a37.b6e2c8","name":"","serial":"0ac126ca4532672f","x":230,"y":2400,"wires":[["c1c9e0546b2968ae"]]},{"id":"0fceadba97babf13","type":"debug","z":"81510a37.b6e2c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":2440,"wires":[]},{"id":"c1c9e0546b2968ae","type":"switch","z":"81510a37.b6e2c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"7.5","vt":"str"},{"t":"gt","v":"7.5","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":2400,"wires":[["c9e970b12e0179f4"],["fd3f1174c4e72233"]]},{"id":"c9e970b12e0179f4","type":"change","z":"81510a37.b6e2c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":2360,"wires":[["0fceadba97babf13","d50d7d91e0beebec"]]},{"id":"fd3f1174c4e72233","type":"change","z":"81510a37.b6e2c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":2440,"wires":[["0fceadba97babf13","d50d7d91e0beebec"]]},{"id":"d50d7d91e0beebec","type":"ui_led","z":"81510a37.b6e2c8","group":"21b9ecb002c92f1c","order":0,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":790,"y":2380,"wires":[]},{"id":"0ac126ca4532672f","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"21b9ecb002c92f1c","type":"ui_group","name":"Vaga 1","tab":"cf669a39e4e3e734","order":1,"disp":true,"width":"6","collapse":false},{"id":"cf669a39e4e3e734","type":"ui_tab","name":"Estacionamento","icon":"dashboard","order":1,"disabled":false,"hidden":false}]